{% extends "eProcessSecurityBundle:Utilisateur:index.html.twig" %}

{% block page_content_left %}
    <div class="panel panel-default">
        <div class="panel-heading">
            <i class="fa fa-bar-chart-o fa-fw"></i> Liste des Utilisateurs supprimables
            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" onclick="enregistrer(getIDs(), false, 0);" class="btn btn-danger btn-xs dropdown-toggle" data-toggle="dropdown">
                        Supprimer
                    </button>

                </div>
            </div>
        </div>
        <!-- /.panel-heading -->
        <div class="panel-body">

            <div class="dataTable_wrapper">
{#                {%for profile in listeProfile%} #}
                    <table class="table table-striped table-bordered table-hover" >
                        <thead class="element">
                            <tr class="alert-warning">
                                <th > <input type="checkbox" class="checkall" name="checkall"/> </th>
                                <th >Profil</th>
                                <th >Nom</th>
                                <th >Prénom</th>
                                <th >Nom d'utilisateur</th>
                                <th >Etat</th>
                                <th colspan="2" ><center>Actions</center></th>
                        </tr>
                        </thead>
                        <tbody >
                        {%for entity in listeUtilisateur%}
                            <tr class="odd gradeX">
                                <td><input type="checkbox" name="tab[]" value="{{entity.id}}" rel="tab_c" /></td>
                                <td>{{ entity.profile.nom }}</td>
                                <td>{{ entity.nom }}</td>
                                <td>{{ entity.prenom }}</td>
                                <td>{{ entity.username }}</td>
                                <td class="center">
                                    {% if entity.isActif %} <i class="alert-success fa fa-check-circle fa-fw"></i>
                                    {% else %} <i class="alert-danger fa fa-ban fa-fw"> {% endif %}
                                </td>
                                <td><a href="{{path('edit_utilisateur',{'idUtilisateur': entity.id})}}" class="btn  fa fa-edit fa-fw " title="Modifier  {{entity.nom}}"><i class=""></i></a></td>
                                <td><a href="#" onclick="enregistrer('{{entity.id}}', false, 0);" class="btn fa  fa-times fa-fw " title="Supprimer:  {{entity.nom}}"><i class=" "></i></a></td>
                            </tr>
                        {% endfor %}                    
                        </tbody>
                    </table>

{#                {%endfor %} #}
            </div>
            <!-- /.table-responsive -->
        </div>
        <!-- /.panel-body -->
    </div>


{% endblock %}






{% block javascripts %} 
    {{parent()}}
    <script> </script>
{% endblock %}


