{% extends "eProcessFactureBundle:FCT_Traitement:index.html.twig" %}

{% block page_content %}

    <div class="panel panel-default">
        <div class="panel-heading">
            Validation de Facture
        </div>


        <!-- .panel-heading -->
        <div class="panel-body">


            <div class="panel panel-success">
                <div class="panel-heading">
                    <center>
                        <h3 class="panel-title">
                            {{ entity.achat.objet }}
                        </h3>
                    </center>
                </div>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title"> Information Générale </h4>
                </div>

                <div class="panel-body">

                    <ul class="chat">

                        <li class="left clearfix">
                            <div class=" row">
                                <table class="table table-striped  table-hover col-lg-12">
                                    <tr class="row">
                                        <th class="col-lg-2">Ordre :</th>
                                        <td class="col-lg-4"> <input value="{{ entity.ordreArrive }}" readonly="" class="form-control"></td>
                                        <th class="col-lg-2">Référence Facture :</th>
                                        <td class="col-lg-4"><input value="{{ entity.referenceFournisseur }}" readonly="" class="form-control"></td>
                                    </tr>


                                    <tr class="row">
                                        <th class="col-lg-2" >Fournisseur</th>
                                        <td class="col-lg-4"><input value="{{ entity.achat.fournisseur }}" readonly="" class="form-control"></td>
                                        <th class="col-lg-2" >Département : </th>
                                        <td class="col-lg-4"><input value="{{ entity.achat.departement }}" readonly="" class="form-control"></td>
                                    </tr> 
                                    <tr class="row">
                                        <th class="col-lg-2" >Montant</th>
                                        <td class="col-lg-4"><input value="{{ entity.achat.montant }}" readonly="" class="form-control"></td>
                                        <th class="col-lg-2">Devise</th>
                                        <td  class="col-lg-4"><input value="{{ entity.achat.devise }}" readonly="" class="form-control"> </td>
                                    </tr> 
                                </table>
                            </div>
                        </li>
                        
                        <li class="left clearfix">

                            <div class=" ">
                                <div class="header">
                                    <center> <strong class="primary-font ">CheckList</strong></center>
                                </div>

                                <div class="chat-panel  row" id="listNormal">

                                    {% if checkList is null %}
                                        <div class="header col-lg-12">
                                            Pas de checkList
                                        </div>
                                    {% else%}
                                        <div class="header col-lg-12">
                                            <div  class=" factNormal row upAndDownSpace">
                                                <p class="col-lg-4"> Demande </p>
                                                <input type="checkbox" class="col-lg-2" disabled="true" {% if checkList.hasDemande %} checked="true" {% endif %} name="hasDemande">
                                                <input type="text"  name="hasDemandeComment" readonly=""  value="{{checkList.hasDemandeComment}}" placeholder=" aucun " class="col-lg-6 form-control" style="width: 45%">
                                            </div>
                                            <div class="factNormal row upAndDownSpace">
                                                <p class="col-lg-4"> Proforma </p>
                                                <input type="checkbox" class="col-lg-2" {% if checkList.hasProforma %} checked="true" {% endif %} disabled="true"   name="hasProforma">
                                                <input type="text" name="hasProformaComment" readonly=""  value="{{checkList.hasProformaComment}}" placeholder=" aucun" class="col-lg-6 form-control" style="width: 45%">
                                            </div>
                                            <div class="factNormal row upAndDownSpace">
                                                <p class="col-lg-4"> Approbation </p>
                                                <input type="checkbox" class="col-lg-2" {% if checkList.hasApprobation %} checked="true" {% endif %}  disabled="true"  readonly=""  name="hasApprobation" >
                                                <input type="text" name="hasApprobationComment"  readonly="" value="{{checkList.hasApprobationComment}}" placeholder=" aucun " class="col-lg-6 form-control" style="width: 45%">
                                            </div>
                                            <div class="factNormal row upAndDownSpace">
                                                <p class="col-lg-4"> Facture </p>
                                                <input type="checkbox" class="col-lg-2" {% if checkList.hasApprobation %} checked="true" {% endif %}  disabled="true"  readonly=""  name="hasApprobation" >
                                                <input type="text" name="hasApprobationComment"  readonly="" value="{{checkList.hasApprobationComment}}" placeholder=" aucun " class="col-lg-6 form-control" style="width: 45%">
                                            </div>
                                        </div>
                                    {% endif %}

                                </div>

                            </div>
                        </li>




                        <div class="header">
                            <center> <strong class="primary-font "> Les fichiers </strong></center>
                        </div>

                        <div  class="panel panel-default">
                            <div class="panel-body">
                                <ul class="chat">
                                    <li class=" clearfix">
                                        <div class="chat-body clearfix">
                                            <div class="header row">
                                                <strong class="primary-font col-lg-6 ">{{readTypeFichier( ficDemande())}}</strong>

                                                {% if entity.achat.ficDemande is null%}
                                                    <small class="col-lg-6   pull-right" > Acun fichier </small>
                                                {%  else %}
                                                    <small class="col-lg-3   text-muted" style="margin-left: 50px ">
                                                        <a href="{{path('file_view',{'id':entity.achat.ficDemande.id}) }}" target="_blank" > <i class="fa fa-eye "></i> Voir  </a>
                                                    </small>
                                                    <small class=" col-lg-3 pull-right text-muted">
                                                        <a href="{{path('file_download',{'id':entity.achat.ficDemande.id}) }}"> <i class="fa fa-download"></i> Télécharger </a>
                                                    </small>
                                                {% endif %}

                                            </div>
                                        </div>
                                    </li>
                                    <li class=" clearfix">

                                        <div class="chat-body clearfix">
                                            <div class="header row">
                                                <strong class="primary-font col-lg-6 ">{{readTypeFichier( ficProformat())}}</strong>
                                                {% if entity.achat.ficProformat is null%}
                                                    <small class="col-lg-6   pull-right" > Acun fichier </small>
                                                {%  else %}
                                                    <small class="col-lg-3   text-muted">
                                                        <a href="{{path('file_view',{'id':entity.achat.ficProformat.id}) }}" target="_blank" > <i class="fa fa-eye "></i> Voir  </a>
                                                    </small>
                                                    <small class=" col-lg-3 pull-right text-muted">
                                                        <a href="{{path('file_download',{'id':entity.achat.ficProformat.id}) }}"> <i class="fa fa-download"></i> Télécharger </a>
                                                    </small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>

                                    <li class=" clearfix">

                                        <div class="chat-body clearfix">
                                            <div class="header row">
                                                <strong class="primary-font col-lg-6 ">{{readTypeFichier( ficApprobation())}}</strong>
                                                {% if entity.achat.ficApprobation is null%}
                                                    <small class="col-lg-6   pull-right" > Acun fichier </small>
                                                {%  else %}
                                                    <small class="col-lg-3   text-muted" style="margin-left: 50px ">
                                                        <a href="{{path('file_view',{'id':entity.achat.ficApprobation.id}) }}" target="_blank" > <i class="fa fa-eye "></i> Voir  </a>
                                                    </small>
                                                    <small class=" col-lg-3 pull-right text-muted">
                                                        <a href="{{path('file_download',{'id':entity.achat.ficApprobation.id}) }}"> <i class="fa fa-download"></i> Télécharger </a>
                                                    </small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>


                                    <li class=" clearfix">

                                        <div class="chat-body clearfix">
                                            <div class="header row">
                                                <strong class="primary-font col-lg-6 ">{{readTypeFichier( ficLivraison())}}</strong>
                                                {% if entity.achat.ficLivraison is null%}
                                                    <small class="col-lg-6   pull-right" > Acun fichier </small>
                                                {%  else %}
                                                    <small class="col-lg-3   text-muted" style="margin-left: 50px ">
                                                        <a href="{{path('file_view',{'id':entity.achat.ficLivraison.id}) }}" target="_blank" > <i class="fa fa-eye "></i> Voir  </a>
                                                    </small>
                                                    <small class=" col-lg-3 pull-right text-muted">
                                                        <a href="{{path('file_download',{'id':entity.achat.ficLivraison.id}) }}"> <i class="fa fa-download"></i> Télécharger </a>
                                                    </small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>


                                    <li class=" clearfix">

                                        <div class="chat-body clearfix">
                                            <div class="header row">
                                                <strong class="primary-font col-lg-6 ">{{readTypeFichier( ficFacture())}}</strong>
                                                {% if entity.fichier is null%}
                                                    <small class="col-lg-6   pull-right" > Acun fichier </small>
                                                {%  else %}
                                                    <small class="col-lg-3   text-muted" style="margin-left: 50px ">
                                                        <a href="{{path('file_view',{'id':entity.fichier.id}) }}" target="_blank" > <i class="fa fa-eye "></i> Voir  </a>
                                                    </small>
                                                    <small class=" col-lg-3 pull-right text-muted">
                                                        <a href="{{path('file_download',{'id':entity.fichier.id}) }}"> <i class="fa fa-download"></i> Télécharger </a>
                                                    </small>
                                                {% endif %}
                                            </div>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                        </div>

                    </ul>
                </div>
            </div>

                                            
{#              LES BOUTONS DE VALIDATION OU DE REJET DU TRAITEMENT DE LA FACTURE                              #}
            <div  class="panel panel-default">
                <div class="panel-body">
                   <div class=" row">
                            <div class="col-lg-offset-2 col-lg-3">
                                {# changement de status et modification de l'etape de la facture  #}
                                <button class="btn btn-success" onclick=" changerStatusFacture('{{entity.id}}','{{statusActivated()}}' ,'{{route}}','{{factureValideOPS()}}');"> Accepter </button>
                            </div>

                            <div class=" col-lg-3">
                                 {# changement  de l'etape  sans modification de statut  de la facture  #}
                                <button class="btn btn-danger"  onclick=" changerEtapeFacture('{{entity.id}}','{{factureProblemeOPS()}}','{{route}}');"> Rejeter </button>
                            </div>

                            <div class=" col-lg-3">
                                <a href="{{path('facture_validation_arrive')}}"> <button class="btn btn-primary" onclick=""> Retour  
                                    <i class="fa fa-share-square-o "></i></button>
                            </div>
                        </div>
                </div>
            </div>


        </div>
        <!-- .panel-body -->
    </div>

{% endblock %}


{% block javascripts %} 
    {{parent()}}

{% endblock %}


