{% extends "eProcessTransfertBundle:Transfert:index.html.twig" %}

{% block page_content %}




    <div class="panel panel-default">
        <div class="panel-heading">
            Reception des Factures  

            <div class="pull-right">
                <div class="btn-group">
                    <button type="button" class="btn btn-default btn-xs " >
                        {{readEtapeTransfert(entity.etape)}}
                    </button>

                </div>
            </div>

        </div>


        <!-- .panel-heading -->
        <div class="panel-body">

            <div class="table-responsive">
                <table class="table table-striped table-bordered table-hover">
                    <thead>
                        <tr>
                            <th>#</th>
                            <th>Profil</th>
                            <th>Nom et Prenom</th>
                            <th>Date </th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Emetteur</th>
                            <td>{{entity.envoyeur.profile}} </td>
                            <td>{{entity.envoyeur}}</td>
                            <td>{{entity.dateCreation|date('d-m-Y H:i:s') }}</td>
                        </tr>
                        <tr>
                            <th>Récepteur</th>

                            <td>
                                {% if entity.recepteur %} {{entity.recepteur.profile}} {% else %} --- {% endif %}
                            </td>
                            <td> {% if entity.recepteur %} {{entity.recepteur}} {% else %} --- {% endif %}</td>
                            <td> {% if entity.dateActivation %} {{entity.dateActivation|date('d-m-Y H:i:s') }} {% else %} --- {% endif %}</td>
                        </tr>


                    </tbody>
                </table>
            </div>


            <div class="panel panel-info">
                <div class="panel-heading">
                    <h4 class="panel-title">
                        <a href="#">
                            {#                            <a data-toggle="collapse" data-parent="#accordion" href="#collapseTwo">#}
                            Liste des factures transférées
                        </a>
                    </h4>
                </div>

                <div>
                    {#                    <div id="collapseTwo" class="panel-collapse collapse">#}
                    <div class="panel-body">


                        <div class="table-responsive table-bordered">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th > <input type="checkbox" class="checkall" name="checkall"/> </th>
                                        <th>Ordre</th>
                                        <th>Réf</th>
                                        <th>Fournisseur</th>
                                        <th>Montant</th>
                                        <th>Devise</th>
                                        <th>statut</th>
                                        <th>Actions</th>
                                    </tr>
                                </thead>

                                <tbody>

                                    {% set listeTransFacture = entity.transfertFactures %}

                                    {% for transFact in listeTransFacture %}
                                        {% set facture = transFact.facture %}
                                        <tr class="odd gradeX">
                                            <td>
                                                {% if  isActivated(transFact.isActif) or isBlocked(transFact.isActif) %}
                                                    *
                                                {% else %}
                                                    <input class="nonRecu" type="checkbox" name="tab[]" value="{{transFact.id}}" rel="tab_c" />
                                                {% endif %}





                                            </td>
                                            <td>{{ facture.ordreArrive }}</td>
                                            <td>{{ facture.referenceFournisseur }}</td>
                                            <td>{{ facture.achat.fournisseur }}</td> 
                                            <td>{{ facture.achat.montant }}</td>
                                            <td>{{ facture.achat.devise}}</td>
                                            <td class="center tooltip-demo">
                                                {% if  isActivated(transFact.isActif) %} <i class="alert-success fa fa-check-circle fa-fw"></i>
                                                {% elseif isInactive(transFact.isActif) %} --- 
                                                {% elseif isBlocked(transFact.isActif) %} <i class="alert-danger fa fa-ban fa-fw" data-toggle="tooltip" data-placement="top" title="{{transFact.description}}"></i>
                                                {% endif %}
                                            </td>
                                            <td >
                                                {% if  isActivated(transFact.isActif) or isBlocked(transFact.isActif) %}
                                                    <button type="button" class="btn btn-default" data-container="body" data-toggle="popover" data-placement="left" data-content="{{transFact.description}}."> voir note</button>
                                                {% else %}
                                                    <button type="button" class="btn btn-success" data-toggle="tooltip" data-placement="top" title="Accepter la facture" onclick="accuseReceptionFacture('{{transFact.id}}', '{{statusActivated()}}');" > <i class=" fa fa-check fa-fw"></i> </button>
                                                    <button type="button" class="btn btn-danger" data-toggle="tooltip" data-placement="top" title="Rejeter cette facture" onclick="accuseReceptionFacture('{{transFact.id}}', '{{statusBlocked()}}');" >  <i class=" fa fa-times fa-fw"></i>  </button>
                                                {% endif %}
                                            </td>

                                        </tr>
                                    {% else %} 
                                        <tr class="">

                                            <td colspan="8"><center> Aucune facture </center></td>

                                    </tr>
                                {% endfor %} 



                                </tbody>
                            </table>
                        </div>
                        <!-- /.table-responsive --> 



                    </div>
                </div>




            </div>


            {% if entity.transfertFactures|length > 0 %}      
                <div class=" row" id="boutonsReceptions">
                    <div class="  col-lg-offset-3 col-lg-3">
                        <button class="btn btn-success" onclick="accuseReceptionFacture(getIDs(), '{{statusActivated()}}');"> Accepter </button>
                    </div>

                    <div class="col-lg-6">
                        <button class="btn btn-danger" onclick="accuseReceptionFacture(getIDs(), '{{statusBlocked()}}');"> Rejeter </button>
                    </div>

                </div>   
            {% endif %} 
            <div class=" row" id="boutonsRetour" style="display: none">
                <div class="  col-lg-offset-5 col-lg-7">
                    <a href="{{ path('e_process_transfert_encours_recept')}}"> <button class="btn btn-primary" > Retour à la page de reception des envois</button> </a>
                </div>
            </div>


        </div>
        <!-- .panel-body -->
    </div>


{% endblock %}



{% block javascripts %}
    {{parent()}}
    {#  appel du modale de reception de facture  #}
    {{information.modalReceptionFacture(entity.id)}}

    <script type="text/javascript">
        $(document).ready(function(){
            var nbre = $('.nonRecu').size() ;
            if(nbre >0){
                $('#boutonsRetour').hide();
                $('#boutonsReceptions').show();
            }else{
                 $('#boutonsReceptions').hide();
                $('#boutonsRetour').show();
            }
        });
    </script>
{% endblock %}


